<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="ForceSSL" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <!-- 
                    This is to reroute the request to .well-known/openid-configuration to our Azure Function so we can rewrite the json response.
                    Remove this if you're not deploying the Azure Function (found in run.csx)
                 -->
                <rule name="RedirectWellKnownOpenidConfiguration" stopProcessing="true">
                    <match url="^(.*)\/.well-known\/openid-configuration(.*)$" />
                    <action type="Rewrite" url="https://yourt-azfunc.azurewebsites.net/api/WellKnownOpenidConfiguration/?url=https://yourtenant.b2clogin.com{HTTP_URL}" logRewrittenUrl="true" />
                    <serverVariables>
                        <!-- Set the B2C domain to forward requests to -->
                        <set name="HTTP_X_UNPROXIED_URL" value="https://yourtenant.b2clogin.com" />
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
                <!-- end -->
                <rule name="Proxy" stopProcessing="true">
                    <match url="(.*)" />
                    <!-- Set the B2C domain to forward requests to -->
                    <action type="Rewrite" url="https://yourtenant.b2clogin.com/{R:1}" logRewrittenUrl="true" />
                    <serverVariables>
                        <!-- Set the B2C domain to forward requests to -->
                        <set name="HTTP_X_UNPROXIED_URL" value="https://yourtenant.b2clogin.com" />
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
                        <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_ACCEPT_ENCODING" value="" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
                <!-- This is to allow CORS for the Azure Function -->
                <rule name="addCORS" enabled="true">
                    <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
                    <action type="Rewrite" value="*" />
                </rule>
                <rule name="ChangeReferencesToOriginalUrl" patternSyntax="ExactMatch" preCondition="CheckContentType">
                    <match filterByTags="None" pattern="{HTTP_X_UNPROXIED_URL}" />
                    <conditions logicalGrouping="MatchAny">
				        <add input="{HTTP_HOST}" pattern="{HTTP_X_UNPROXIED_URL}" />
                    </conditions>
                    <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}" />
                </rule>
                <!-- This rule changes cookie path set to the custom domain
                    This makes sure B2C can operate correctly and enables SSO -->
                <rule name="Change Cookie Header 200">
                    <!-- Set the B2C domain at which cookies are set on -->
                    <match serverVariable="RESPONSE_Set_Cookie" pattern="(.+)(yourtenant.b2clogin.com)(.+)" />
                    <conditions>
                        <add input="{RESPONSE_STATUS}" pattern="^200" />
                    </conditions>
                    <!-- Set your custom domain name here"/> -->
                    <action type="Rewrite" value="{R:1}{HTTP_X_ORIGINAL_HOST}{R:3}"/>
                </rule>
                <rule name="Change Cookie Header 302">
                    <!-- Set the B2C domain at which cookies are set on -->
                    <match serverVariable="RESPONSE_Set_Cookie" pattern="(.+)(yourtenant.b2clogin.com)(.+)" />
                    <conditions>
                        <add input="{RESPONSE_STATUS}" pattern="^302" />
                    </conditions>
                    <!-- Set your custom domain name here"/> -->
                    <action type="Rewrite" value="{R:1}{HTTP_X_ORIGINAL_HOST}{R:3}"/>
                </rule>
                <preConditions>
                    <preCondition name="CheckContentType">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|text/plain|text/xml|application/rss\+xml)" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>

